body {
    display: flex;
    font-family: Arial, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #f5f5f5;
}

.container-total {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    background-color: #0056b3;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 10px;
    /* Bordas arredondadas */
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #a91414;
    margin-bottom: 20px;
}

.container-op {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 80%;
    background-color: #555;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;

}

p {
    font-size: 1.2rem;
    color: #1eca29;
}

#colorOptions {
    margin: 20px 0;
    font-size: 1.1rem;
    color: #12ec24;
}

input {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#feedback {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #444;
}